June 24, 2022

**ECON 197 L**

## EXERCISES - Functions 
* With suggested answers

1. Write a function that accepts three numbers and returns the sum of all three numbers.

In [1]:
def sum_of_three(x, y, z):
    return (x + y + z)

sum_of_three(10, 10, 10)

30

2. Write a function that accepts three numbers and returns the mean of the three numbers.

In [2]:
#def mean_of_three(x, y, z):
#    return (x + y + z)/3

#mean_of_three(10, 25, 39)

def exercise_2(x, y, z):
    return sum_of_three(x, y, z)/3

exercise_2(10, 23, 31)

21.333333333333332

3. Write a function that accepts three numbers (or a list of three numbers) and returns the median.

In [3]:
def median_of_three(a, b, c):
    if a > b:
        if a < c:
            return a
        elif b > c:
            return b
        else: 
            return c
    else:
        if a > c:
            return a
        elif b < c:
            return b
        else:
            return c

median_of_three(1, 80, 21)

21

4. Write a function that accepts a string and returns its length.

In [4]:
def count_string(string):
    if string != "":
        return len(string)
    else:
        return 0

count_string("Economics")

9

5. Write a function that takes an integer as an argument and returns its factorial.

In [5]:
def factorial(n):
    
    factorial = 1
    
    if n == 0 or n == 1:
        return factorial
    
    elif n >= 2:
        for i in range(1, n+1):
            factorial = factorial*i
        return factorial
    
    else:
        print("Factorial is undefined.")

factorial(4)

24

6. Write a function that lists the prime factors of a number.

In [6]:
def is_prime(num):
    
    if num < 2: 
        return False
    else:
        for i in range(2,num):
            if (num % i) == 0:
                return False
                break
        else:
            return True
        
def prime_factors(num):
    
    prime_factors = []
    for i in range(1,num+1):
        if num % i == 0 and is_prime(i) == True:
            prime_factors.append(i)
    
    return prime_factors

#type = int(input("Enter a number: " ))
#prime_factors(type)

prime_factors(18)

[2, 3]

7. Write a function that accepts an integer and returns a list of integers from 1 to that number.

In [3]:
def exercise_7(num):
    
    list = []
    for i in range(1,num):
        list.append(i)
    return list

exercise_7(19)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18]

8. Write a function that accepts a number, representing temperature reading. The program should ask first the user to identify if the input was Celsius or Fahrenheit. If Celsius, convert to Fahrenheit (and vice versa). If the input is neither Celsius or Fahrenheit, print "Invalid input" and a message requesting to strictly choose Celsius or Fahrenheit only.

In [61]:
def temp_C_to_F(C):
    F = ((9/5)*C) + 32
    return float(F)

def temp_F_to_C(F):
    C = (5/9) *(F - 32)
    return float(C)

def temp_user_input():
    temp_input = input("Enter the temperature reading, excluding unit: ")
    C_or_F = input("Enter the input unit, as C or F only: ")

    if (C_or_F.lower() == 'c') or (C_or_F.lower() == 'celsius'):
        return "{} degrees Celsius is {} degrees Fahrenheit".format(temp_input, temp_C_to_F(float(temp_input)))
    
    elif (C_or_F.lower() == 'f') or (C_or_F.lower() == 'fahrenheit'):
        return "{} degrees Fahrenheit is {} degrees Celsius".format(temp_input, temp_F_to_C(float(temp_input)))
    
    else:
        return "Invalid input"
    
temp_user_input()

Enter the temperature reading, excluding unit:  90
Enter the input unit, as C or F only:  F

'90 degrees Fahrenheit is 32.22222222222222 degrees Celsius'

In [63]:
def temp_C_to_F(C):
    F = ((9/5)*C) + 32
    return float(F)

def temp_F_to_C(F):
    C = (5/9) *(F - 32)
    return float(C)

#Note that by default, user-defined inputs are strings.
def temp_user_input2():
    print("Choose a converter:")
    print("(1) Celsius to Fahrenheit")
    print("(2) Fahrenheit to Celsius")
    
    temp_input = input("Enter the temperature reading: ")
    C_or_F = input("Converter number 1 or number 2?")
    
    #Note that by default, user-defined inputs are strings.
    if C_or_F == '1':
        return f"{temp_input} degrees Celsius is {temp_C_to_F(float(temp_input))} degrees Fahrenheit."
    
    elif C_or_F == '2':
        return f"{temp_input} degrees Fahrenheit is {temp_F_to_C(float(temp_input))} degrees Celsius"
    
    else:
        return "Invalid input"
    
temp_user_input2()

Choose a converter:
(1) Celsius to Fahrenheit
(2) Fahrenheit to Celsius

Enter the temperature reading:  34
Converter number 1 or number 2? 1

'34 degrees Celsius is 93.2 degrees Fahrenheit.'

## Midterms ##

Exercise 1: Create a function that accepts two inputs,
* nums = a list of integers
* x = any real number, float or integer

This function should return another list where the elements of nums are added by x.

In [6]:
def exercise_1(nums,x):
    list = []
    for i in nums:
        list.append(i+x)
    return list

nums = [1, 2, 3, 4, 5]
exercise_1(nums, 10)

[11, 12, 13, 14, 15]

Exercise 2: Create a function that accepts a list of numbers as input. Do not change the arrangement!

Without sorting the list, this function should return the first number that is lower in value than the
number preceding it. If there is none, return `None`.

In [16]:
def exercise_2(nums):
    #your code here.
    i = 1
    while nums[i] >= nums[i-1]:
        i += 1
        if i == len(nums):
            return None
    else:
        return nums[i]
    
nums = [1,3,5,7,9, 8.9, 12,11]
exercise_2(nums)

8.9

Exercise 3: Create a function that has 3 parameters:

* list of integers (num)
* positive integer number (n1)
* another positive integer number (n2).

The function will return a list of integers that are multiples of n1 AND n2. If none, return None.

In [28]:
nums = range(100)

def exercise_3(nums, n1, n2):
    # your code here.
    list2 = []
    for i in nums:
        if nums[i] % n1 == 0 and nums[i] % n2 == 0:
            list2.append(nums[i])
    list2.remove(0)
    print(list2)

exercise_3(nums,2,3)

[6, 12, 18, 24, 30, 36, 42, 48, 54, 60, 66, 72, 78, 84, 90, 96]

In [30]:
arange(100)

range(0, 100)

Exercise 4: Create a function that accepts a list of real numbers of any size and any type (float or
integer).
The function should return a float representing the product of all the members of the list.

In [36]:
nums = [1.1,2.2,3.3,4.4,10.1]

def exercise_4(nums):
    
    j = 1
    for i in range(len(nums)):
        j = j*nums[i]
    return j

exercise_4(nums)

354.89784000000003